@import "variables";
@import "utilities";
@import "basics";
@import "keyframes";
@import "itemsGrid";

// ----------------  Fonts  -----------------
// font-family: 'Lobster', cursive;
// font-family: 'Yellowtail', cursive;
// -----------------  Navbar  ---------------
#navbar {
  background-color: rgba(17, 17, 17, 0.605);
  padding-top: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: inherit;
  z-index: 99;
  .container {
    line-height: 70px;
    display: flex;
    flex-direction: row;

    .logo {
      text-align: start;
      margin: 0 0 0 30px;
      h2 {
        width: 200px;
        color: white;
        font-family: "Yellowtail", cursive;
      }
    }
    .menu {
      text-align: right;
      display: block;
      width: 100%;
    }
    a {
      text-decoration: none;
      color: white;
      margin: 0 30px;
      line-height: 70px;
      font-family: "Yellowtail", cursive;
      font-size: 1.5rem;
    }

    a:hover {
      color: rgba($color: $main-color, $alpha: 0.8);
    }
    label {
      display: none;
      margin: 0 40px 0 0;
      line-height: 26px;
      width: 25px;
    }

    #toggle {
      display: none;
    }
  }
}
#header {
  width: 100%;
  height: 105%;
  // Header - space
  .header-img {
    background: url("C:\Users\Henrique Hernandes\Documents\le cheveux\dist\img\main-background4.jpg")
      no-repeat center center/cover;
    // set attachment to scroll
    background-attachment: fixed;
    // Bottom image cut - Clip path maker
    clip-path: polygon(0 0, 30% 0%, 500% 30vh, 0% 80%);
    width: 100%;
    height: 130vh;
    position: relative;
    top: -90;
    right: 0;
    box-sizing: border-box;
    z-index: -1;
    .header-content {
      position: fixed;
      top: 63%;
      left: 15%;
      transform: translate(-50%, -50%);
      z-index: 1;

      .first-title {
        display: block;
        color: #ffffff;
        font-size: 3rem;
        font-family: "Yellowtail", cursive;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        // Fix Image Shake
        backface-visibility: hidden;
      }
      .second-title {
        display: block;
        color: #ffffff;
        font-size: 1rem;
        font-family: "Itim", cursive;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        // Fix Image Shake
        backface-visibility: hidden;
      }
      .underline {
        position: absolute;
        width: 230px;
        top: 102px;
        right: 0px;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        z-index: -2;
      }
    }
  }
}

// -----------------  Home  -----------------------------
#home {
  &-a {
    height: 40rem;
    position: relative;
    .background {
      clip-path: polygon(0% 0%, 200% 0%, 380% 0vh, 0% 80%);
      height: 50rem;
      background-image: linear-gradient(
        to bottom,
        #ffffff,
        #fdfdfd,
        #fafafa,
        #f8f8f8,
        #f6f6f6,
        #f4f4f4,
        #f2f2f2,
        #f0f0f0,
        #eeeeee,
        #ebebeb,
        #e9e9e9,
        #e7e7e7
      );
      z-index: 3;
    }
    .container {
      z-index: 4;
      position: absolute;
      top: -100;
      left: 50%;
      transform: translate(-50%, 0%);

      h2 {
        text-align: center;
        font-size: 1.7;
      }
      .underline {
        width: 9.2rem;
      }

      .line {
        &-1 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 0 auto;
          padding: 1rem 0 2rem 0;

          img {
            height: 600px;
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.694);
            text-align: center;
          }
          .content {
            width: 60%;
            max-height: 300px;
            padding-left: 15rem;
            font-size: 1.3rem;

            h1 {
              z-index: 1;
              position: relative;
              top: -260px;
              left: 50px;
              font-size: 18rem;
              letter-spacing: 0.8rem;
              line-height: 0.8;
              font-family: "Mr Dafoe", cursive;
              color: rgba($color: $main-color, $alpha: 0.25);
              letter-spacing: 20;
            }

            .buttons {
              display: flex;
              flex-direction: row;
            }
            .btn:first-child {
              width: 10rem;
              margin-right: 2rem;
            }
            .btn {
              z-index: 1;
              width: 15rem;
              position: relative;
              top: -210;
              translate: (50%, 50%);
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
  &-b {
    text-align: center;
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 1;

    .underline {
      position: relative;
      left: 47%;
      top: 100%;
      width: 150px;
    }
    .container {
      padding-top: 5rem;
      h2 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1.2rem;
      }
      .item-text {
        h2 {
          color: rgb(238, 237, 237);
          font-family: "Yellowtail", cursive;
        }
      }
    }
    // Images properties are in _itemsGrid.scss
  }
  &-c {
    background: #fff;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      height: 150px;

      img {
        width: 120px;
        height: 30px;
      }

      img:nth-child(3) {
        height: 60px;
      }
      img:nth-child(4) {
        height: 90px;
        width: 90px;
      }
    }
  }
  &-d {
    max-width: 100vw;
    background: inherit;
    .container {
      width: 100%;
      padding-bottom: 1rem;
      .wrapper {
        margin: 1rem auto 1rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        p {
          text-align: center;
          width: 60%;
          margin: auto auto;
        }
        img {
          width: 25vw;
          height: 35vh;
          max-width: 500px;
          max-height: 300px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.694);
          margin: auto auto;
        }
      }
    }
  }
  &-e {
    .backgrounds {
      display: flex;
      flex-direction: row;
      position: relative;

      .background {
        &-1 {
          img {
            width: 50%;
          }
        }
        &-2 {
          width: 50%;
          height: 100%;

          background-image: linear-gradient(
            to right top,
            #d6ad24,
            #dbb224,
            #dfb624,
            #e4bb23,
            #e8c023,
            #ebc426,
            #efc928,
            #f2cd2b,
            #f5d231,
            #f9d737,
            #fcdc3d,
            #ffe143
          );
          position: absolute;
          left: 50%;
          .container {
            margin-top: 5rem;
            position: relative;
            width: 80%;
            height: 70%;
            background-image: linear-gradient(
              to bottom,
              #ededed,
              #fafafa,
              #f6f6f6,
              #f1f1f1,
              #ededed
            );
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.694);
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
              position: absolute;
              top: 25%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-family: "lobster", cursive;
              font-size: 1.6rem;
              width: 100%;
            }
            p {
              font-family: "Hepta Slab", serif;
              width: 90%;
              position: absolute;
              top: 30%;
              left: 5%;
            }
            .input-email {
              width: 60%;
              height: 2rem;
              margin: 6rem auto 1rem;
              display: block;
              text-align: center;
              border: 0.1rem $main-color solid;
              border-radius: 10px;
            }
            .btn {
              position: relative;
              left: 45%;
              top: 0%;
            }
          }
        }
      }
    }
  }
}
// -----------------  About  -------------------
#about {
  &-a {
    padding-bottom: 10rem;
    position: relative;
    .background {
      clip-path: polygon(0 50%, 5% 0%, 100% 0vh, 90% 100%);
      height: 80vh;
      background-image: linear-gradient(
        to top,
        #8b7529,
        #9c8224,
        #aa8e27,
        #c6a62c,
        #c9aa2c,
        #ceaf2c,
        #d4b42d,
        #d9b92d,
        #e1c02e,
        #e9c82f,
        #f1cf30,
        #f9d731
      );
    }
    .container {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0%);
      padding: 3rem 3rem;

      img {
        height: 30rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.694);
        margin: 0 1rem 0 1rem;
      }
      .text {
        background: #f9d53771;
        text-align: center;
        padding: 1.5rem 5rem;
        width: 53.5rem;
        color: #000000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.694);
        h2 {
          font-family: "Yellowtail", cursive;
        }
      }
    }
  }
  &-b {
    position: relative;
    background: url("img/orange.jpg") repeat center center/cover;
    width: 100vw;
    height: 70vh;
    .container {
      .border1 {
        position: absolute;
        top: 35%;
        left: 22%;
        transform: translate(-35%, -22%);
        background-image: linear-gradient(
          to bottom,
          #dbb433,
          #deb732,
          #e1bb31,
          #e4be2f,
          #e7c22e,
          #eac42c,
          #ecc729,
          #efc926,
          #f2cb20,
          #f4cd1a,
          #f7ce11,
          #fad003
        );
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.694);
        height: 10rem;
        width: 60%;
        transform: skew(15deg) rotate(5deg);
        -webkit-transform: skew(-20deg) rotate(0deg);
        -moz-transform: skew(-15deg) rotate(2deg);
        z-index: 1;
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        width: 70%;
        z-index: 2;
        h2 {
          padding-bottom: 1rem;
        }
        h4 {
          padding-bottom: 1rem;
        }
        a {
          margin: 3rem 0 0 0;
        }
      }
    }
  }
  &-c {
    position: relative;
    .container {
      text-align: center;
      padding: 5rem 0;
      .text {
        h2 {
          padding-bottom: 0.7rem;
        }
      }
      .icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        div {
          margin: 1rem 1rem;
          i {
            color: rgb(0, 0, 0);
          }

          h3 {
            padding-bottom: 0rem;
          }
        }
        div:hover {
          i {
            color: rgba($color: $main-color, $alpha: 0.9);
          }
          h3 {
            color: rgba($color: $main-color, $alpha: 0.6);
          }
        }
      }
    }
  }

  &-d {
    position: relative;
    background-image: linear-gradient(
      to top,
      #99822e,
      #b3952c,
      #b6982b,
      #c6a62c,
      #c9aa2c,
      #ceaf2c,
      #d4b42d,
      #d9b92d,
      #e1c02e,
      #e9c82f,
      #f1cf30,
      #f9d731
    );
    margin-bottom: 2rem;
    .container {
      width: 100vw;
      .text {
        text-align: center;
        padding: 0 0 2rem 0;
      }
      .testimonials {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3rem;
        padding: 1rem 3rem;

        img {
          height: 8rem;
          width: 8rem;
          border-radius: 50%;
        }
        .border1 {
          width: 85%;
          margin: 0 auto;
          background-image: linear-gradient(
            to bottom,
            #dbb433,
            #deb732,
            #e1bb31,
            #e4be2f,
            #e7c22e,
            #eac42c,
            #ecc729,
            #efc926,
            #f2cb20,
            #f4cd1a,
            #f7ce11,
            #fad003
          );
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.694);
          height: 11rem;
          transform: skew(10deg) rotate(5deg);
          -webkit-transform: skew(-15deg) rotate(0deg);
          -moz-transform: skew(-10deg) rotate(2deg);
        }
        .person1 {
          position: absolute;
          top: 19%;
          left: 46%;
          transform: translate(-45%, -15%);
          padding-top: 5rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          p {
            width: 30rem;
            transform: skew(10deg) rotate(5deg);
            -webkit-transform: skew(-15deg) rotate(0deg);
            -moz-transform: skew(-10deg) rotate(2deg);
          }
          h3 {
            position: absolute;
            top: 100%;
            left: 12%;
            transform: skew(10deg) rotate(5deg);
            -webkit-transform: skew(-15deg) rotate(0deg);
            -moz-transform: skew(-10deg) rotate(2deg);
          }
          img {
            margin: 0 2rem;
          }
        }

        .border2 {
          width: 85%;
          margin: 0 auto;
          background-image: linear-gradient(
            to top,
            #dbb433,
            #deb732,
            #e1bb31,
            #e4be2f,
            #e7c22e,
            #eac42c,
            #ecc729,
            #efc926,
            #f2cb20,
            #f4cd1a,
            #f7ce11,
            #fad003
          );
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.694);
          height: 11rem;

          transform: skew(10deg) rotate(5deg);
          -webkit-transform: skew(-15deg) rotate(0deg);
          -moz-transform: skew(-10deg) rotate(2deg);
        }
        .person2 {
          position: absolute;
          top: 82%;
          left: 50%;
          transform: translate(-50%, -82%);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          p {
            width: 30rem;
            transform: skew(10deg) rotate(5deg);
            -webkit-transform: skew(-15deg) rotate(0deg);
            -moz-transform: skew(-10deg) rotate(2deg);
          }
          h3 {
            position: absolute;
            top: 100%;
            left: 10%;
            transform: skew(10deg) rotate(5deg);
            -webkit-transform: skew(-15deg) rotate(0deg);
            -moz-transform: skew(-10deg) rotate(2deg);
          }
          img {
            margin: 0 2rem;
          }
        }
      }
    }
  }
}

// ----------------------- prices ---------------------------
#prices {
  background-image: linear-gradient(
    to right,
    #f1f1f1,
    #ededee,
    #eae9ea,
    #e8e5e6,
    #e5e1e2,
    #e3dfe0,
    #e1dddd,
    #dfdbdb,
    #dedada,
    #dcd9d9,
    #dbd8d8,
    #dad7d7
  );
  &-a {
    position: relative;
    .background {
      clip-path: polygon(0% 0%, 100% 0%, 100% 0vh, 0% 100%);
      height: 70vh;
      width: 100%;
      margin: 0 auto;
      background-image: linear-gradient(
        to top,
        #8b7529,
        #9c8224,
        #aa8e27,
        #c6a62c,
        #c9aa2c,
        #ceaf2c,
        #d4b42d,
        #d9b92d,
        #e1c02e,
        #e9c82f,
        #f1cf30,
        #f9d731
      );
      z-index: 1;
    }
    .header-container {
      background: url("img/pink\ laptop1.jpg") no-repeat center center/cover;
      height: 40vh;
      width: 100%;
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -32%);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.694);
      z-index: 2;
      .header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
          font-family: "Yellowtail", cursive;
          font-size: 4rem;
        }
      }
    }

    .box {
      margin: -10 auto;
      text-align: center;
      .container {
        width: 80%;
        height: 20vh;
        h4 {
          padding-top: 0.7rem;
          text-align: center;
          text-decoration: underline;
        }
      }
    }
  }
  &-b {
    .container {
      text-align: center;
      width: 100vw;
      .accordion {
        background-image: linear-gradient(
          to bottom,
          #dbb433,
          #deb732,
          #e1bb31,
          #e4be2f,
          #e7c22e,
          #eac42c,
          #ecc729,
          #efc926,
          #f2cb20,
          #f4cd1a,
          #f7ce11,
          #fad003
        );

        cursor: pointer;
        text-align: left;
        height: 10rem;
        width: 50rem;
        border-radius: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.694);
        margin: 3rem 5rem 3rem 9rem;

        transform: skew(10deg) rotate(5deg);
        -webkit-transform: skew(-15deg) rotate(0deg);
        -moz-transform: skew(-10deg) rotate(2deg);
        h2 {
          padding-bottom: 1rem;
          display: inline-block;
        }
        h2:first-child {
          width: 27rem;
          padding: 0 0 0 2rem;
        }

        p {
          width: 100%;
          padding: 1rem 0 0 0.5rem;
        }
        a {
          color: #000;
        }
      }

      .accordion:hover,
      img {
        opacity: 0.8;
      }
    }
  }
}
// ----------------------- Service ---------------------------
#service {
  &-a {
    .background {
      clip-path: polygon(0% 0%, 100% 0%, 70% 0vh, 0% 100%);
      height: 20vh;
      background-image: linear-gradient(
        to top,
        #8b7529,
        #9c8224,
        #aa8e27,
        #c6a62c,
        #c9aa2c,
        #ceaf2c,
        #d4b42d,
        #d9b92d,
        #e1c02e,
        #e9c82f,
        #f1cf30,
        #f9d731
      );
      z-index: -1;
    }

    .container {
      display: grid;
      grid-template-areas: "main main main side";
      .main {
        background: rgb(255, 255, 255);
        padding: 0rem 3rem;
        text-align: center;
        grid-area: main;
        img {
          width: 5rem;
          height: 2rem;
        }
        h2 {
          font-size: 2.2rem;
        }
        h2,
        h3 {
          padding: 2rem 0 0.5rem 0;
        }
      }
      .side {
        margin: 5rem 0;
        .wrapper {
          grid-area: side;
          background: #ffe7e2;
          border-radius: 4%;
          height: 10rem;
          text-align: center;
          padding: 2rem 0.5rem 0;
          display: flex;
          flex-direction: row;

          li {
            text-align: start;
            padding: 0 2rem;
          }

          ul:nth-child(2) {
            li {
              text-align: right;
            }
          }
        }
        a {
          margin: 1rem 0;
        }
        .others {
          padding-top: 3rem;
          h3 {
            text-decoration: underline;
          }

          a {
            color: #000000;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &-b {
    background: #ffe7e2;
    .container {
      margin: 2rem auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem;
      .text {
        text-align: center;
        width: 100%;
        margin: auto auto;
        padding: 0 4rem;
      }
      img {
        width: 38vw;
        height: 45vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.694);
      }
    }
  }
  &-c {
    .header-img {
      text-align: center;
      margin: 2rem auto;
      img {
        max-width: 60rem;
        height: 23rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.694);
      }
      img:hover {
        opacity: 0.9;
      }
    }
  }
  &-d {
    background: #ffe7e2;
    margin-bottom: 2rem;
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .boxes {
      padding: 2rem 1rem;

      .person {
        text-align: end;
      }
      i {
        color: rgba($color: $main-color, $alpha: 0.8);
      }
    }
  }
}
// ----------------------- Contact ----------------------------

#header-contact {
  text-align: center;
  margin-top: 8rem;
}

#contact-form {
  background: url("img/4pinneapple.jpg") no-repeat center centre/cover;
  height: auto;
  width: 100%;
  z-index: 2;
  .background {
    clip-path: polygon(0% 100%, 100% 0%, 100% 100vh, 100% 100%);
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to top,
      #ddbc42,
      #dfba36,
      #e0bd3d,
      #ddbb31,
      #ddba2f,
      #e0c031,
      #e7c62f,
      #ebc82f,
      #e1c02e,
      #e9c82f,
      #f1cf30,
      #f9d731
    );
  }
  z-index: 1;
  .text-top {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
  }
  h2 {
    text-align: center;
    padding: 0 0 2rem 0;
  }
  .container {
    display: flex;
    background: #fff;
    align-content: center;
    justify-content: center;
    border-radius: 1%;
    width: 60rem;
    position: absolute;
    top: 1700px;
    left: 50%;
    transform: translate(-50%, -250%);
    border: 2.8px $main-color solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.694);

    .side {
      img {
        width: 20rem;
        padding: 1rem;
      }
    }
    label {
      margin: 0;
      font-size: 1.2rem;
    }
    .form-group {
      margin-bottom: 1.25rem;
      align-content: center;
      justify-content: center;

      label {
        display: block;
        margin-bottom: 2px;
      }
      input,
      textarea {
        width: 30rem;
        padding: 0.625rem;
        border: 0.1rem $main-color solid;
        border-radius: 10px;
      }
      textarea {
        height: 12.5rem;
      }
    }
    button {
      width: 100px;
      margin-bottom: 1rem;
    }
  }
}
// ------------------------- FAQ -----------------------------
#FAQ {
  .container {
    margin-top: 8rem;
    .text {
      text-align: center;
      margin-bottom: 2rem;
      p {
        width: 70%;
        margin: 0 auto;
      }
    }
    .questions {
      margin-left: 4rem;
      margin-bottom: 3rem;
      .accordion {
        background-color: rgba($color: $main-color, $alpha: 0.9);
        color: rgba(0, 0, 0, 0.694);
        cursor: pointer;
        padding: 2rem 2rem 0.3rem 2rem;
        margin-bottom: 1rem;
        width: 90%;
        border: none;
        border-radius: 0;
        text-align: start;
        outline: none;
        h3 {
          cursor: pointer;
        }
        i {
          width: 100%;
          text-align: center;
          padding-top: 0.5rem;
        }
      }
      .accordion:hover {
        background-color: rgba($color: $main-color, $alpha: 0.75);
        i {
          animation-name: upAndDown;
          animation-duration: 0.8s;
          animation-iteration-count: infinite;
        }
      }
      .answer {
        margin: 0 0 1.7rem 3rem;
        width: 85%;
        display: none;
      }
    }
    a {
      color: black;
      text-decoration: underline;
    }
  }
}

// ------------------------ Footer --------------------------
footer {
  background: rgb(0, 0, 0);
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: baseline;
    width: 100%;
    margin: 0 auto;
    .content {
      display: flex;
      justify-content: space-evenly;
      .items {
        display: block;
        color: #fff;
        width: 100px;
        h2 {
          color: #fff;
          font-family: "Yellowtail", cursive;
        }
      }
      .items {
        width: 200px;
        p {
          font-size: 0.7rem;
          color: white;
        }
      }
      .items {
        i:hover,
        a:hover {
          color: rgba($color: $main-color, $alpha: 0.9);
        }
      }
    }

    .bottom-footer {
      text-align: center;
      color: #fff;
    }
  }
}

// --------------------- Media Queries ---------------------
@import "media";
